      body {
        font-family: "Sono", sans-serif;
      }

      /* Hint: What can you do with a media query and flexbox? */
      @media (max-width: 1000px) {
      .pricing-container{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
      }
      .pricing-plan{
        display: flex;
        min-width: 320px;
      }
      }

      .plan-title{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .plan-price{
        font-size: 2.5rem;
        font-weight: bold;
      }

      li {
        font-size: small;
        margin-right: 50px;
        list-style: none;
      }

      .plan-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

      .plan-button {
        background-color: rgb(239, 239, 239);
        border: 2px solid orangered;
        margin-top: 5px;
        padding: 8px;
        color: orangered;
        border-radius: 5px;
        text-shadow: 0px 0px 10px orangered;
      }

      .pricing-container{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        height: 90vh;
      }

      .pricing-plan{
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        padding: 15px;
        border-radius: 10px;
        align-items: center;
        flex-basis: 320px;
      }
